html,
body {
    padding: 0;
    margin: 0;
}

canvas {
    padding-top: 1%;
    padding-left: 4%;
}

.container {
    display: flex;
    flex-direction: row;
}

.canvas-container {
    display: flex;
}

.side-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.online {
    padding-top: 0%;
    padding-left: 5%;
    font-family: sans-serif;
}

.statsElt {
    /* padding: 0%;
    margin: 0; */
}

.chat-container {
    height: 100%;
    margin-left: 2%;
    margin-right: 5%;
}

#messages {
    height: 450px;
    list-style: none;
    font-family: sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 3%;
}

#messages > li {
    padding: 1%;
}

#chatInput {
    margin-left: 3%;
    width: 80%;
    height: 4%;
}

#sendBtn {
    width: 14%;
    margin-left: 1%;
    padding: 1%;
}
